# ATM Interface

### Objective:

Create an ATM interface where the user can:

1. Deposit
2. Withdraw
3. Check Balance
4. Change Password

### Requirements:

- User inputs the last 4 digits of the ATM card and a 4-digit password.
- Implement using object-oriented programming (OOP) concepts in Python.
- Include classes and methods for each operation.
- Ensure error handling and input validation.

In [1]:
def create_account():
    pass


def change_password():
    pass


def deposit_money(account, money):
    pass


def withdraw_money(account, money):
    pass

def check_balance():
    pass

In [2]:
import sqlite3

# connecting to sqlite
connection_obj = sqlite3.connect("test.db")

# cursor object
cursor_obj = connection_obj.cursor()

# drop the test table if it already exists
cursor_obj.execute("DROP TABLE IF EXISTS test")

# creating table
table = """ create table test (
            id integer primary key autoincrement,
            account_no integer,
            first_name varchar(30),
            last_name varchar(30),
            balance int
            )
        """

cursor_obj.execute(table)

print("Table created successfully!")

connection_obj.close()

Table created successfully!

In [3]:
conn = sqlite3.connect("test.db")

cursor = conn.cursor()

# insert values in the table
cursor.execute("""insert into test values (101, 'John', 'Doe', 12345678, 10000)""")
cursor.execute("""insert into test values (102, 'Peter', 'Parket', 87654321, 15000)""")
cursor.execute("""insert into test values (103, 'ABC', 'XYZ', 18273645, 20000)""")

# Display data inserted
print("Data Inserted in the table: ")
data = cursor.execute("""SELECT * FROM test""")
for row in data:
    print(row)

# Commit your changes in the database
conn.commit()

# Closing the connection
conn.close()

Data Inserted in the table:
(101, 'John', 'Doe', '12345678', 10000)
(102, 'Peter', 'Parket', '87654321', 15000)
(103, 'ABC', 'XYZ', '18273645', 20000)

In [4]:
# check balance

conn = sqlite3.connect("test.db")

cursor = conn.cursor()

data = cursor.execute("select balance from test where account_no=12345678")

for row in data:
    print(row[0])

conn.close()

In [5]:
# withdraw money

conn = sqlite3.connect("test.db")

cursor = conn.cursor()

amount = 5000
account_no = 12345678
data = cursor.execute(
    f"update test set balance = balance-{amount} where account_no={account_no}"
)

# to save the changes
conn.commit()

conn.close()

In [6]:
# deposit money

conn = sqlite3.connect("test.db")

cursor = conn.cursor()

amount = 5000
account_no = 12345678
data = cursor.execute(
    f"update test set balance = balance+{amount} where account_no={account_no}"
)

# to save the changes
conn.commit()

conn.close()

In [7]:
# create account

conn = sqlite3.connect("test.db")

cursor = conn.cursor()

cursor.execute("insert into test values(104, 'Mudassir',  'Ansari', 12341234, 3000)")

conn.commit()

conn.close()

In [34]:
from cryptography.fernet import Fernet

password = "abcd1234"

key = Fernet.generate_key()
fernet = Fernet(key)

encPass = fernet.encrypt(password.encode())
print(encPass)

decPass = fernet.decrypt(encPass).decode()
print(decPass)

b'gAAAAABmm7dJ8ja8TK_GcjGPl0GRJUlOiWC8WjoBZbW84hhCt8bCLulPXU4CJ0SAx1Ug4yUUrpGJDibA5tibbqa1V9f3vT9I-A=='
abcd1234

In [37]:
password = "abcd1234"

encPass = fernet.encrypt(password.encode())
print(encPass)

b'gAAAAABmm7da382bc92IkGo4VFfZE1UQS6pH2FUtsCyfCjWCJi1puOaWCWw-VWJ2fEp_RZ4pcPNLnDhDHCgKZxZnqrJs-oHjxQ=='

In [35]:
import numpy as np

np.random.randint(100000, 999999)

435987

In [45]:
import sqlite3

conn = sqlite3.connect("test.db")
cursor = conn.cursor()

data = cursor.execute(
    """SELECT id FROM test WHERE id=101;"""
)

result = [row[0] for row in data]
if len(result) > 0:
    print(result[0])


# if result > 0:
#     print("Exists")
# else:
#     print("Does not Exists")

conn.close()

101